#rectangle {
    background: white;
    border-radius: 25px;
}

#nice {
    background: #D9D0D0;
}

input {
    border: 2px solid black;
    border-radius: 10px;
}
body {
  text-align: center;
  padding-top: 20vh;
  background: #34495e;
}